{% extends "base.html" %}
{% load staticfiles %}

{% block head %}
{{block.super}}
<script src="https://cdn.plot.ly/plotly-latest.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.css" type="text/css" />
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/7.1.0/css/bootstrap-slider.min.css" />
  <style type="text/css">

  #plot_range_slider {
    width: 100%;
  }

  #plot_range_slider .slider-selection {
    background: #bababa;
  }

  #wrapper {
      padding-left: 0;
      padding-right: 0;
  }
  #wrapper.toggled-left {
      padding-left: 250px;
  }
  #wrapper.toggled-right {
      padding-right: 250px;
  }

  #sidebar-left-wrapper {
      z-index: 1000;
      position: fixed;
      left: 250px;
      width: 0;
      height: 100%;
      margin-left: -250px;
      overflow-y: auto;
      border-right: none;
  }
  #sidebar-right-wrapper {
      z-index: 1002;
      position: fixed;
      right: 250px;
      width: 0;
      height: 100%;
      margin-right: -250px;
      overflow-y: auto;
      border-left: none;
      background-color: white;
  }

  #wrapper.toggled-left #sidebar-left-wrapper {
      width: 250px;
      border-right: solid;
  }
  #wrapper.toggled-right #sidebar-right-wrapper {
      width: 250px;
      border-left: solid;
  }

  #page-content-wrapper {
      width: 100%;
      position: absolute;
      padding: 15px;
  }

  #wrapper.toggled-left #page-content-wrapper {
      position: absolute;
      margin-right: -250px;
  }

  #wrapper.toggled-right #page-content-wrapper {
      position: absolute;
      margin-right: -250px;
  }

  @media(min-width:768px) {
      #wrapper {
          padding-left: 250px;
          padding-right: 250px
      }

      #wrapper.toggled-left {
          padding-left: 0;
      }
      #wrapper.toggled-right {
          padding-right: 0;
      }

      #sidebar-left-wrapper {
          width: 250px;
          border-right: solid;
      }
      #sidebar-right-wrapper {
          width: 500px;
          border-left: solid;
      }

      #wrapper.toggled-left #sidebar-left-wrapper {
          width: 0;
          border-right: none;
      }
      #wrapper.toggled-right #sidebar-right-wrapper {
          width: 0;
          border-left: none;
      }

      #page-content-wrapper {
          padding: 20px;
          position: relative;
      }

      #wrapper.toggled-left #page-content-wrapper {
          position: relative;
          margin-right: 0;
      }
      #wrapper.toggled-right #page-content-wrapper {
          position: relative;
          margin-right: 0;
      }
  }

  #wrapper.testing {
      display: none;
  }
  </style>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mocha/2.5.3/mocha.min.css">
{% endblock %}

{% block content %}

  <div id="wrapper" class="toggled-right {% if testing %}testing{% endif %}">
    <div id="sidebar-left-wrapper">
      <div class="container-fluid">

        <div class="row">
          <div id="plot_scale" class="col-xs-12">
            <h3>Display Settings</h3>
            <div class="btn-group-vertical">

              <div id="x-axis-settings"></div>
              <div id="y-axis-settings"></div>
              <div id="fitting-settings"></div>

            </div>

            <h3>Configurations</h3>
            <div id="foo"></div>
            <div id="save-and-reload">
              <div class="btn-group-vertical">
                <div class="btn-group">
                  <div class="btn-group btn-group-justified">
                    <div class="btn-group">
                      <button type="button" data-action="save" class="btn btn-default">
                        Save
                      </button>
                    </div>
                    <div class="btn-group">
                      <button type="button" data-action="reload" class="btn btn-default">
                        Reload
                      </button>
                    </div>
                    <div class="btn-group">
                      <button type="button" data-action="clear" class="btn btn-default">
                        Clear
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="sidebar-right-wrapper">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12" style="padding-left:136px;padding-top:17px">

            <div class="input-group input-group">
              <div style="position:relative; width:0; height:0;">
                <div class="bar" style="position:absolute; left: -68px; top:-17px; width:68px; height:68px;"></div>
              </div>
              <div class="input-group-btn">
                <button type="button" class="btn btn-default btn">
                  <span class="glyphicon glyphicon-chevron-left" />
                </button>
              </div>
              <input type="text" class="form-control" placeholder="{{ filename }}"/>
            </div>

            <div class="input-group input-group">
              <div style="position:relative; width:0; height:0;">
                <div class="bar" style="position:absolute; left: -136px; top:-17px; width:68px; height:68px;"></div>
              </div>
              <div class="input-group-btn">
                <button type="button" class="btn btn-default btn">
                  <span class="glyphicon glyphicon-chevron-left" />
                </button>
              </div>
              <input type="text" class="form-control" placeholder="{{ filename }}"/>
            </div>

            <div class="input-group input-group">
              <div style="position:relative; width:0; height:0;">
                <div class="bar" style="position:absolute; left: -68px; top:-17px; width:68px; height:68px;"></div>
              </div>
              <div class="input-group-btn">
                <button type="button" class="btn btn-default btn">
                  <span class="glyphicon glyphicon-chevron-left" />
                </button>
              </div>
              <input type="text" class="form-control" placeholder="{{ filename }}"/>
            </div>

            <div class="input-group input-group">
              <div style="position:relative; width:0; height:0;">
                <div class="bar" style="position:absolute; left: -136px; top:-17px; width:68px; height:68px;"></div>
              </div>
              <div class="input-group-btn">
                <button type="button" class="btn btn-default btn">
                  <span class="glyphicon glyphicon-chevron-left" />
                </button>
              </div>
              <input type="text" class="form-control" placeholder="{{ filename }}"/>
            </div>

            <div class="input-group input-group">
              <div style="position:relative; width:0; height:0;">
                <div class="bar" style="position:absolute; left: -68px; top:-17px; width:68px; height:68px;"></div>
              </div>
              <div class="input-group-btn">
                <button type="button" class="btn btn-default btn">
                  <span class="glyphicon glyphicon-chevron-left" />
                </button>
              </div>
              <input type="text" class="form-control" placeholder="{{ filename }}"/>
            </div>

          </div>
        </div>
      </div>
    </div>


    <div id="page-content-wrapper">
      <a class="btn btn-default menu-toggle"
         data-toggle-class="toggled-left" data-toggle="tooltip"
         data-placement="right" title="Click to toggle the file list sidebar.">
        <span class="glyphicon glyphicon-transfer" aria-hidden="true"></span>
      </a>

      <a class="btn btn-default menu-toggle pull-right"
         data-toggle-class="toggled-right" data-toggle="tooltip"
         data-placement="left" title="Click to toggle the file list sidebar.">
        <span class="glyphicon glyphicon-transfer" aria-hidden="true"></span>
      </a>

      <div class="container-fluid">
        <!-- The actual plot contents -->
        <div class="row">
          <div id="plot_container" class="col-xs-12"></div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <input type="text" class="span2" value="" id="plot_range"
                   data-slider-id="plot_range_slider" data-slider-min="0"
                   data-slider-max="100" data-slider-step="1" data-slider-value="[0,100]"
                   />
          </div>
        </div>
      </div>
    </div>

  </div>

  <div id="mocha"></div>

{% endblock %}

{% block localjs %}
<script type="text/javascript">
    var filename = "{% static filename %}";
</script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/mathjs/3.2.1/math.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/7.1.0/bootstrap-slider.min.js"></script>
<script type="text/javascript" src="{% static 'app1/Cobyla.js' %}"></script>
<script type="text/javascript" src="{% static 'app1/CobylaLSFit.js' %}"></script>
<script type="text/javascript" src="{% static 'app1/plot_fit.js' %}"></script>

{% if testing %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mocha/2.5.3/mocha.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/chai/3.5.0/chai.min.js"></script>
<script type="text/javascript">

  mocha.ui('bdd');
  mocha.reporter('html');
  var expect = chai.expect;
  </script>

<script type="text/javascript" src="{% static 'app1/spec.js' %}"></script>
<script type="text/javascript">

  mocha.run();
</script>

{% endif %}

{% endblock %}
