<script type="text/html" id="SidebarInput">
    <div class="input-group">
        <div class="input-group-btn">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <span>{{ dropdownLabel }}</span>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li v-for="option in dropdownOptions">
                    <a href="#!" :data-value="option" @click="updateText">{{ option }}</a>
                </li>
            </ul>
            <button type="button" class="btn btn-default"
                    :class="{ active: value.button }"
                    @click="updateButton">
                {{ buttonLabel }}
            </button>
        </div>
        <input type="text" class="form-control pull-left" v-model="value.text"
               @input.stop.prevent="updateText" />
    </div>
</script>

<script>
module(function(exports) {
    exports.components.SidebarInput = {
        name: 'SidebarInput',
        template: '#SidebarInput',
        props: {
            dropdownLabel: String,
            dropdownOptions: Array,
            buttonLabel: String,
            value: Object,
        },
        methods: {
            updateText(e) {
                this.emitEvent('input', {
                    text: e.target.value || e.target.dataset.value,
                    button: false,
                });
            },
            updateButton(e) {
                this.emitEvent('input', {
                    text: this.value.text,
                    button: true,
                });
            },
            emitEvent(eventName, value) {
                this.$emit(eventName, { target: { value } });
            },
        },
    };
});
</script>
